<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title, description, keywords)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">NextWorth</title>
    <meta name="description" th:content="${description}">
    <meta name="keywords" th:content="${keywords}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/theme.js}"></script>
</head>
<body></body>
</html>